html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

ol {
  list-style-type: none;
}

a {
  font-family: "PT Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-decoration: none;
}
